

footer {

  text-align: right;
  
  font-size: 14px;
  padding: 15px;

  span {

    font-family: 'Roboto Mono';
    text-transform: uppercase;
    color: rgba(black, 0.4);
    display: inline-block;

  }

  img {
    position: relative;
    top: 15px;
  }
  
}
