
$margin: 16px;
$width: 320px;
$height: 160px;

#infographics {

  margin: $margin * 0.5 0;

  > section {

    > header {

      display: block;
      
      h1 {
        font-family: 'Roboto Condensed';
        font-size: 24px;
        font-weight: bold;
        opacity: 0.8;

        text-transform: uppercase;
        padding: 12px 48px;
      }
      
    }
    
    .infographics {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      margin: $margin * 0.5;

      section {

        background-color: white;

        border-radius: 3px;
        border: 2px solid rgba(black, 0.75);
        
        margin: $margin * 0.5;
        display: flex;
        flex-direction: column;

        width: 32vw;

        min-width: $width;
        min-height: $height;
        
        overflow: hidden;

        background-repeat: no-repeat;
        background-size: cover;

        a {
          width: 100%;
          height: 100%;

          &:hover {
            cursor: pointer;
          }
          
        }
        
        header {
          background-color: rgba(black, 0.75);
          z-index: 100;
          padding: 16px 32px;
          position: relative;
          z-index: 1000;
          
          font-size: 16px;

          h1 {
            font-weight: 700;
            color: rgba(white, 1);
          }
          
          h2 {
            font-family: 'Roboto Condensed';
            color: rgba(white, 0.6);
            text-transform: uppercase;
          }
          
        }

        img {
          width: 100%;
        }
        
      }
      
    }

  }

}