@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,400italic|Roboto+Condensed:400|Roboto+Mono:400");
* {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

#header {
  padding: 24px 48px;
  background-color: #fff;
  line-height: 24px; }
  #header * {
    display: inline-block;
    font-size: 16px;
    height: 24px; }
  #header h1.title {
    font-family: 'Roboto';
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8); }
  #header h1.title:after {
    display: inline-block;
    content: '';
    background-image: url("../images/divider.png");
    background-repeat: no-repeat;
    position: relative;
    top: 6px;
    width: 60px;
    height: 24px; }
  #header h2.subtitle {
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4); }

#infographics {
  margin: 8px 0; }
  #infographics > section > header {
    display: block; }
    #infographics > section > header h1 {
      font-family: 'Roboto Condensed';
      font-size: 24px;
      font-weight: bold;
      opacity: 0.8;
      text-transform: uppercase;
      padding: 12px 48px; }
  #infographics > section .infographics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 8px; }
    #infographics > section .infographics section {
      background-color: white;
      border-radius: 3px;
      border: 2px solid rgba(0, 0, 0, 0.75);
      margin: 8px;
      display: flex;
      flex-direction: column;
      width: 32vw;
      min-width: 320px;
      min-height: 160px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: cover; }
      #infographics > section .infographics section a {
        width: 100%;
        height: 100%; }
        #infographics > section .infographics section a:hover {
          cursor: pointer; }
      #infographics > section .infographics section header {
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 100;
        padding: 16px 32px;
        position: relative;
        z-index: 1000;
        font-size: 16px; }
        #infographics > section .infographics section header h1 {
          font-weight: 700;
          color: white; }
        #infographics > section .infographics section header h2 {
          font-family: 'Roboto Condensed';
          color: rgba(255, 255, 255, 0.6);
          text-transform: uppercase; }
      #infographics > section .infographics section img {
        width: 100%; }

footer {
  text-align: right;
  font-size: 14px;
  padding: 15px; }
  footer span {
    font-family: 'Roboto Mono';
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    display: inline-block; }
  footer img {
    position: relative;
    top: 15px; }

html {
  background-color: #fff;
  font-family: 'Roboto';
  font-size: 10px; }
